@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes fadeIn
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@keyframes fadeIn2
{
  0%
  {
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  50%{
    opacity: 0.6;
  }
  60%{
    opacity: 1;
  }
  75%{
    opacity: 0.4;
  }
  100%
  {
    opacity: 1;
  }
}

@keyframes fadeIn3
{
  0%
  {
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  60%{
    opacity: 0.1;
  }
  75%{
    opacity: 0.4;
  }
  80%{
    opacity: 0;
  }
  85%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}


